<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: head('Create a new Post')" />


<body>

<nav th:replace="fragments :: my-navbar"/>

<div class="container">

    <h1> Single post landing page</h1>
    <h2> Title: <span th:text="${post.title}"></span> </h2>
    <h2> Body: <span th:text="${post.body}"></span> </h2>
    <h2> UserName: <span th:text="${post.owner.username}"></span> </h2>
    <h2> UserEmail: <span th:text="${post.owner.email}"></span> </h2>

</div>

</body>

</html>